body{
    background-color: $body-bg-color;
    max-width: 100%;
   
    h1, h2 {
        text-align: center;
    }
    p {
        max-width: 100%;
        @include center;
        padding: 8px $padding;
    }
    
}

main{
    padding: $padding;
    max-width: 1200px;
    @include center;
}

.intro {
    text-align: center;
    @include center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 90%;
}

.popular-activities {
    margin-top: 50px;

    h2 {
        margin-bottom: 50px;
    }
}


.about-images {
    padding: $padding;
}

.about-story {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: $padding;
    padding-bottom: $padding;
    text-align: justify;
  text-justify: inter-word;
    @media (min-width: $tablet-portait){
        grid-template-columns: 1fr 1fr;  
    }

}

