body{
    background-color: $body-bg-color;
    max-width: 100%;
   
    h1{
        text-align: center;
    }
    p {
        max-width: 100%;
        @include center;
        padding: $padding;
    }
}


