// footer styles
footer{
    max-width: 100%;
    @include center;

  
    .top-footer {
        background-color: $brand-color-light;
        height: 100px;
        padding: $padding;
    }

    .low-footer {
        background-color: $brand-color-dark;
        padding: $padding;
    }
}



