// footer styles
footer{
    max-width: 100%;
    @include center;
    

    .top-footer {    
        display: flex;
        justify-content: center;
    }

    button {
        border: none;
        width: 100%;
        height: 100px;
        background-color: $brand-color-light;
        font-family: $heading-font;
        color: $brand-color-dark;
        font-size: 1.2em;
    }
    
    button:hover {
        background-color: $brand-color-accent;
        color: white;
    }


    .low-footer {
        background-color: $brand-color-dark;
        padding: $padding;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-size: 2em;
            #{$hover} {
                color: $brand-color-light;
            }
        }
        
    }

    .address {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;


    }
    
    .social-media {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
           width: 200px;
         
        }
    }

    .thanks {
        padding: $padding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            font-family: $body-font;
            text-transform: uppercase;
            color: $brand-color-dark;

            #{$hover} {
                color: $brand-color-accent;
            }
        }
 
        
    }

    ul {
        @include list;
    }

   @media (min-width: $tablet-landscape-medium){
        .low-footer {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .social-media {
          padding-left: 40%;
        }    

        .thanks {
             flex-direction: row;
        }
    }
  
}


