header{
    background-color: $brand-color;
    color: $text-color-light;
    // math on pixel values (padding; it is the same that 1/2 padding)
    padding: $padding/2 $padding; 


    

    @media (max-width: $tablet){
        background-color:;
    }

    @media (mac-width: $phone){
        background-color:;
    }
}