// mixins

// center mixin
// it centers element using margin auto

@mixin center($top:0, $bottom: 0, $is-img: false) {
    margin: {
        left: auto;
        right: auto;
        top: $top;
        bottom: $bottom; 
    }
    @if($is-img == true){
        display: block;
    }
}

// For lists

@mixin flatten($is-list: false){
    margin: 0;
    padding: 0;
    line-height: 1;
    @if($is-list == true){
        list-style: none;
    }
}