
nav {
    // this are the styles for the desktop nav
    // won't be visible in mobile - mobile styles are the hamburguer

    $height: 60px;
    $border-size: 1px;
    $border: 1px solid;   // (below border is a variable 1px solid white)
    padding: 0;

    background-color: white;
    max-width: 50%;

    ul{
        display: flex;
        list-style: none;
        @include flatten;
    }

    li{
        flex:1;
        
    }

    a {
        display:block;
        color: $text-color;
        text-decoration:none;
        line-height: $height;
        text-align: center;
        background-color: white;

        #{$hover}{
            background-color: $brand-color-accent;
        }
    }

   
    


}

  