header {

    color: $text-color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    min-width: 100%;
    
    .logo { 
        margin-left: $padding;
        height: 50px;
        line-height: $heading-height;
        padding-top: 10px;
        padding-right: $padding;
        
        #{$hover}{
           fill: $brand-color-light;
        }
        
    }

    @media (min-width: $tablet-portait){
        flex-wrap: nowrap;
        
    }

}

nav {
    // Local Variables
    $border-size: 1px;
    $border: 1px solid;
    width: 70%;
    display: none;

    ul {
        list-style: none;
        @include flatten;
    }

    a {
        display:block;
        color: $text-color;
        text-decoration:none;
        line-height: $heading-height;
        text-align: right;
        padding: 0 $padding;

        #{$hover}{
            background-color: $brand-color-light;
        }
    }

    .open & {
        display: block;
    }

    @media (min-width: $tablet-portait){
        display: block;
       
        ul {
            display: flex;
            justify-content: flex-end;
        }
    }

    
    


}

