header {

    color: $text-color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    
    .logo { 
        margin-left: $padding;
        height: $heading-height;
        line-height: $heading-height;
        padding: 0;
        padding-right: $padding;
        background-color: grey;
    }
    @media (min-width: $tablet-portait){
        
        flex-wrap: nowrap;
    }

}

nav {

    // Local Variables
    $border-size: 1px;
    $border: 1px solid;

    width: 100%;
    display: none;

    ul {
        list-style: none;
        @include flatten;
    }

    a {
        display:block;
        color: $text-color;
        text-decoration:none;
        line-height: $heading-height;
        text-align: right;
        padding: 0 $padding;

        #{$hover}{
            background-color: $brand-color-light;
        }
    }

    .open & {
        display: block;
    }

    @media (min-width: $tablet-portait){
        display: block;
       
        ul {
            display: flex;
            justify-content: space-between;
        }
    }

    
    


}

