@charset "utf-8";
/* CSS Document */

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}


// table reset
table{
    border-collapse: collapse;
	border-spacing: 0;
}



// remove margins on the body
body{
    margin:0;
   
}
