// typographic styles

body{
    font-family: $body-font;
}

h1,h2,h3 {
    font-family: $heading-font;
    letter-spacing: 1px;
}

h1,h2,h3, p{
    margin-top: 0;
}

nav {
    font-family: $body-font;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

}