// global website variables

// website colours

$body-bg-color: white;
$wrapper-bg-color: white;
// brand variation colours using
// sass colour functions...

$brand-color-light: #d1e3df;
$brand-color-dark: #233349;
$brand-color-accent: #e4bd59;

// text colours
$text-color: black;

// typography styles
 
$body-font:'Open Sans', sans-serif;
@font-face {
    font-family: 'bourbon-grotesque';
    src: url('../fonts/bourbon-grotesque.woff') format('woff');
}
$heading-font:'bourbon-grotesque';

// layout variables
$padding:30px;

// grid variables
$gutter:2;

// hover selector
$hover:'&hover, &:focus, &active';

// media query breakpoints
// utility function to spit out em values
@function em($px, $bc: 16){
    @return #{$px/$bc}em;
}

// breakpoints
$tablet: em (1024);
$phone: em(640);
